.development_background {
  background-image: url('../images/background3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 4%;
  padding-left: 10%;
  padding-right: 10%;
}

.development_text_wrapper > h2 {
  color: yellow;
  font-size: 51.11px;
  font-family: 'montserrat';
  width: 75%;
}

.development_text__logo {
  display: flex;
  flex-direction: row;
}

.moons_text__wrapper {
  display: flex;
  flex-direction: row;
  line-height: 24px;
  padding-left: 5%;
  width: 100%;
}

.moons_text_description {
  width: 20%;
  margin-bottom: 0;
  height: 165px;
  font-size: 26px;
  color: #ffffff;
  padding: 16px;
}

.moons_text_description > h2 {
  font-size: 6rem;
  padding: 0;
  margin: 0;
}

.moons_text_description > h3 {
  font-family: 'montserrat';
  font-size: 2.3rem;
  color: #fff200;
  margin: 0;
}

.moons_text_description > p {
  font-size: 15px;
  font-family: 'cutive mono';
}

.moons_text__wrapper > div:nth-child(4),
.moons_text__wrapper > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: start;
  position: relative;
  top: 50px;
}

.moons_text__wrapper > div:nth-child(2),
.moons_text__wrapper > div:nth-child(3) {
  position: relative;
  text-align: start;
}

.development_four_moons {
  display: 'flex';
  justify-content: 'center';
}
.four_moons_image {
  width: 90%;
}

.development_text_wrapper > h2 {
  color: #fff200;
  font-family: 'montserrat';
  font-size: 60px;
  font-weight: 600;
  line-height: 64px;
  width: 85%;
}

.development_text_wrapper > p {
  width: 80%;
  font-size: 22px;
  color: #ffffff;
  text-align: justify;
  font-weight: 400;
  font-family: 'cutive mono';
}

.logo_wrapper {
  width: 25%;
}

.technical_skills {
  display: 'flex';
  flex-direction: column;
  width: 94%;
  padding-top: 3%;
  padding-bottom: 10%;
}

.technical_skills > p {
  font-size: 26px;
  color: #ffffff;
  font-family: 'cutive mono';
  text-align: center;
}

@media screen and (max-width: 1800px) {
  .moons_text__wrapper > p {
    padding-left: 3%;
    padding-right: 5%;
  }
}

@media screen and (max-width: 1400px) {
  .development_text_wrapper > h2 {
    line-height: 80px;
  }
}
@media screen and (max-width: 1300px) {
  .development_text_wrapper > h2 {
    font-size: 40px;
    line-height: 50px;
    width: 100%;
  }
  .development_text_wrapper > p {
    font-size: 20px;
    width: 500px;
  }
  .logo_wrapper {
    display: none;
  }
  .technical_skills > p {
    font-size: 20px;
  }
  .moons_text__wrapper {
    padding-bottom: 5%;
  }
  .moons_text_description {
    padding-bottom: 10px;
  }
  .moons_text__wrapper > div:nth-child(2),
  .moons_text__wrapper > div:nth-child(3) {
    top: 50px;
  }
  .moons_text__wrapper > div:nth-child(1),
  .moons_text__wrapper > div:nth-child(4) {
    top: 130px;
  }
  .moons_text_description > h2 {
    font-size: 4.1rem;
    font-weight: 600;
  }
  .moons_text_description > h3 {
    font-size: 2rem;
  }
  .moons_text_description > p {
    font-size: 12px;
    line-height: normal;
  }
}
@media screen and (max-width: 1000px) {
  .moons_text__wrapper > div:nth-child(1),
  .moons_text__wrapper > div:nth-child(4) {
    top: 60px;
  }
  .moons_text__wrapper > div:nth-child(2),
  .moons_text__wrapper > div:nth-child(3) {
    top: 20px;
  }
}
@media screen and (max-width: 750px) {
  .development_text_wrapper > h2 {
    font-size: 30px;
  }
  .development_text_wrapper > p {
    font-size: 16px;
  }
  .moons_text__wrapper > p {
    font-size: 17px;
    line-height: normal;
  }
  .technical_skills > p {
    font-size: 17px;
  }
  .moons_text__wrapper > p {
    padding-bottom: 0;
  }
  .moons_text__wrapper > p {
    padding-bottom: 0;
  }
  .moons_text_description > h2 {
    font-size: 3rem;
  }
  .moons_text_description > h3 {
    font-size: 1.7rem;
    font-weight: normal;
  }
  .moons_text_description > p {
    font-size: 11px;
  }
}

@media screen and (max-width: 550px) {
  .moons_text__wrapper {
    padding-top: 0px;
  }

  .development_text_wrapper > h2 {
    font-size: 26px;
  }
  .development_text_wrapper > p {
    width: 400px;
  }
  .development_text_wrapper > p {
    font-size: 15px;
  }
  .moons_text__wrapper {
    width: 350px;
    padding-left: 0;
    padding-right: 0;
  }
  .moons_text__wrapper > div:nth-child(2),
  .moons_text__wrapper > div:nth-child(3) {
    top: 50px;
    padding-left: 5px;
  }
  .moons_text__wrapper > div:nth-child(1),
  .moons_text__wrapper > div:nth-child(4) {
    top: 70px;
    padding-left: 5px;
  }

  .moons_text_description > h2 {
    font-size: 2rem;
  }
  .moons_text_description > h3 {
    font-size: 1rem;
  }
  .moons_text_description > p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 450px) {
  .development_text_wrapper > p {
    width: 300px;
  }
  .moons_text__wrapper > div:nth-child(1),
  .moons_text__wrapper > div:nth-child(4) {
    margin-left: 5px;
    top: 85px;
  }
  .moons_text__wrapper > div:nth-child(2),
  .moons_text__wrapper > div:nth-child(3) {
    margin-left: 18px;
  }
  .four_moons_image {
    width: 100%;
  }
  .moons_text__wrapper > p {
    font-size: 12px;
  }
  .moons_text__wrapper {
    width: 220px;
  }
  .development_text_wrapper > h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 350px) {
  .moons_text__wrapper {
    width: 250px;
  }
}
