@font-face {
  font-family: 'montserrat';
  src: url('../fonts/montserrat/static/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'montserrat light';
  src: url('../fonts/montserrat/static/Montserrat-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'cutive mono';
  src: url('../fonts/cutivemono/CutiveMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'saira regular';
  src: url('../fonts/saira/Saira-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'genos regular';
  src: url('../fonts/genos/Genos-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'teko regular';
  src: url('../fonts/teko/Teko-Regular.ttf') format('truetype');
}
