footer {
  height: 15%;
  background-color: black;
  /* background: white; */
  background-image: radial-gradient(
    rgba(72, 74, 86, 0.84),
    0.8px,
    transparent 0
  );
  background-size: 12px 12px;
  padding-bottom: 1%;
}

.contact_logo {
  padding: 0;
  margin: 0;
  height: 100px;
  width: 290px;
}

.footer_logo_container {
  padding-left: 10%;
}

.contact_info_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.contact_info {
  font-size: 19px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'saira regular';
}

.contact_info > p {
  margin: 0;
}
.contact_container__social {
  align-self: end;
  padding-bottom: 2%;
}

.contact_container__social > div {
  width: 50px;
  margin: 12px;
}

@media screen and (max-width: 1200px) {
  .header_simply {
    position: inherit;
    top: -160px;
  }
  .header_simply > h2 {
    font-size: 70px;
    line-height: 13px;
  }
  .footer_logo_container {
    padding: 0;
    text-align: center;
  }
  .contact_info {
    font-size: 15px;
    width: 500px;
  }
  .contact_logo {
    padding-bottom: 2%;
    padding-left: 0;
  }
  .contact_info_wrapper {
    justify-content: space-around;
    padding-left: 5%;
  }
}

@media screen and (max-width: 600px) {
  .contact_info > p {
    font-size: 13px;
    line-height: normal;
    margin: 5px;
  }
}

@media screen and (max-width: 450px) {
  .contact_container__social > div {
    margin-left: 10%;
  }
  .contact_container__social {
    height: 80px;
  }
  .contact_info > p {
    font-size: 12.5px;
    line-height: 17px;
  }
}
