.header_container {
  height: 100vh;
  background-image: linear-gradient(
      0deg,
      rgb(26, 24, 24) 0%,
      rgba(26, 24, 24, 0.01) 0.7%
    ),
    url('../images/background1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: bottom;
  padding-top: 8%;
}

.header_logo2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10%;
}

.header_yellow_layer {
  position: relative;
  top: 20%;
}

.header_simply {
  position: inherit;
  top: -240px;
  margin-left: 10%;
  color: black;
}

.header_simply > h2 {
  color: #000;
  font-family: 'montserrat';
  font-size: 60px;
  font-weight: 600;
  line-height: 26px;
}

.header_simply > p {
  padding-top: 20px;
  width: 700px;
  color: #000000;
  font-weight: bold;
  font-size: 27px;
  font-family: 'cutive mono';
  line-height: 28.75px;
}

@media screen and (max-width: 1200px) {
  .header_simply {
    top: -160px;
  }
  .header_simply > h2 {
    font-size: 45px;
    line-height: 10px;
  }
  .header_simply > p {
    font-size: 18px;
    width: 500px;
    padding: 10px;
    line-height: 20px;
  }
  .header_yellow_layer {
    top: 300px;
  }
}

@media screen and (max-width: 1000px) {
  .header_container {
    width: 100%;
  }
  .header_yellow_layer {
    top: 250px;
  }
  .header_simply {
    top: -130px;
  }
  .header_simply > p {
    font-size: 16px;
    width: 400px;
    line-height: normal;
    margin: 0;
    padding: 0;
  }
  .header_logo2 {
    padding: 30px;
  }
}

@media screen and (max-width: 750px) {
  .header_container {
    height: 700px;
  }
  .header_simply {
    top: -95px;
  }
  .header_simply > h2 {
    font-size: 38px;
    line-height: 0;
    margin-bottom: 10px;
  }
  .header_simply > p {
    font-size: 13px;
    width: 300px;
    line-height: normal;
    padding: 0;
    margin: 0;
    padding-top: 3px;
  }
  .header_logo2 {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .header_yellow_layer {
    top: 250px;
  }
  .header_simply {
    top: -78px;
  }
  .header_simply > h2 {
    font-size: 35px;
    margin-bottom: 4px;
    padding-bottom: 5px;
  }
  .header_simply > p {
    line-height: 10px;
  }
}

@media screen and (max-width: 450px) {
  .header_container {
    background-position: center;
  }
  .header_yellow_layer {
    top: 270px;
  }

  .header_simply {
    top: -60px;
  }

  .header_simply > h2 {
    font-size: 24px;
  }

  .header_simply > p {
    line-height: 9px;
    font-size: 10px;
    width: 200px;
  }
  .yellow_layer {
    height: 1000px;
  }
}

@media screen and (max-width: 350px) {
  .header_simply {
    top: -60px;
  }
  .header_simply > p {
    line-height: 10px;
    font-size: 10px;
  }
}
