.navbar_container {
  background: rgb(0 0 0 / 50%);
  position: fixed;
  box-sizing: border-box;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}
.navbar_links {
  align-self: end;
}

.navbar_links::after {
  content: '';
  display: block;
  width: 1000px;
  height: 0.8px;
  background: white;
  position: absolute;
}

.navbar_links > a {
  font-size: 16px;
  font-weight: 400;
  font-family: 'montserrat light';
  text-decoration: none;
  color: white;
  padding: 0 0 0 20px;
}

.navbar_links > a:hover {
  font-weight: bold;
}

.navbar_logo {
  width: 350px;
  height: 50px;
}

@media screen and (max-width: 1200px) {
  .navbar_links {
    display: none;
  }
  .navbar_container {
    display: flex;
    justify-content: center;
  }
  .navbar_logo {
    width: 270px;
    height: 40px;
    padding-left: 0;
  }
  .logo_container {
    text-align: center;
  }
}
