.projects_background {
  background-color: white;
  height: 100%;
  padding: 10%;
}

.projects_text {
  font-family: 'teko regular';
  font-size: 51.11px;
  line-height: 64px;
  color: #000000;
  font-weight: 400;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects > div {
  width: 45%;
  height: 220px;
  margin: 12px;
  border-radius: 4px;
  background: white;
  background-image: radial-gradient(
    rgba(72, 74, 86, 0.84),
    0.8px,
    transparent 0
  );
  background-size: 12px 12px;
}

.projects > div:nth-child(1),
.projects > div:nth-child(3),
.projects > div:nth-child(5),
.projects > div:nth-child(7) {
  background-color: #e3e3e3;
  color: #000000;
  background-image: radial-gradient(
    rgba(197, 193, 223, 0.84),
    0.8px,
    transparent 0
  );
  background-size: 12px 12px;
}

.projects > div:nth-child(2),
.projects > div:nth-child(4),
.projects > div:nth-child(6),
.projects > div:nth-child(8) {
  background-color: #191919;
  color: white;
}

.project_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.project_card > p {
  margin: 10px;
  text-align: center;
}

.project_card_img {
  width: 200px;
}

.projects > div:nth-child(5) > a > img {
  height: 30px;
  padding-bottom: 15px;
  padding-top: 15px;
}

#midih_logo {
  width: 120px;
}

@media screen and (max-width: 1400px) {
  .projects {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .project_card {
    height: 240px;
  }
  .project_card > p {
    font-size: 15px;
  }
  .project_card_img {
    height: 50px;
    width: 140px;
  }
  .projects > div:nth-child(5) > a > img {
    height: 20px;
    padding-bottom: 0;
  }
  #midih_logo {
    width: 120px;
    height: 50px;
  }
}

@media screen and (max-width: 600px) {
  .projects > div:nth-child(2),
  .projects > div:nth-child(4),
  .projects > div:nth-child(6),
  .projects > div:nth-child(8) {
    background-color: #000000;
    color: #e3e3e3;
  }
}
@media screen and (max-width: 750px) {
  .project_card > p {
    font-size: 14px;
    margin: 5px;
  }
  .project_card {
    height: 220px;
  }
  .projects_text {
    font-size: 40px;
  }
}

@media screen and (max-width: 550px) {
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects > div {
    width: 70%;
    margin: 0;
    height: 230px;
  }
  .project_card {
    height: 200px;
  }

  .project_card_img {
    height: 35px;
    width: 120px;
  }

  .projects_text {
    font-size: 35px;
  }
  .project_card {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 550px) {
  .project_card > p {
    font-size: 15px;
  }
}
