.projects_background {
  background-color: white;
  padding-left: 10%;
  padding-bottom: 0;
}

.projects_text {
  position: relative;
  top: -230px;
  font-family: 'montserrat';
  font-size: 50px;
  line-height: 1.2em;
  color: #000000;
}
.projects_paragraph {
  position: relative;
  top: -260px;
  font-family: 'cutive mono';
  font-size: 22px;
  width: 900px;
  font-weight: bold;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: -90px;
}

.projects_yellow {
  position: relative;
  top: 90px;
  width: 95%;
}
.projects > div {
  width: 45%;
  height: 270px;
  margin: 12px;
}

.projects > div:nth-child(1),
.projects > div:nth-child(3),
.projects > div:nth-child(5),
.projects > div:nth-child(7),
.projects > div:nth-child(9),
.projects > div:nth-child(11),
.projects > div:nth-child(13) {
  background-color: #191919;
  color: white;
}

.projects > div:nth-child(2),
.projects > div:nth-child(4),
.projects > div:nth-child(6),
.projects > div:nth-child(8),
.projects > div:nth-child(10),
.projects > div:nth-child(12),
.projects > div:nth-child(14) {
  background-color: #e3e3e3;
  color: #000000;
}

.project_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 20px;
}

.project_card > p {
  margin: 10px;
  text-align: center;
  font-family: 'cutive mono';
  font-size: 18px;
  line-height: 1.2em;
}

.project_card_img {
  width: 200px;
}

.projects > div:nth-child(5) > a > img {
  padding-bottom: 15px;
  padding-top: 15px;
}
.projects > div:nth-child(14) > a > img {
  width: auto;
  height: auto;
}

@media screen and (max-width: 1400px) {
  .projects {
    display: flex;
    justify-content: center;
  }
  .projects_text {
    font-size: 50px;
  }
  .projects_paragraph {
    font-size: 18px;
    width: 600px;
    line-height: 20px;
  }
  .projects_yellow {
    top: -5px;
  }
  .projects_text {
    top: -225px;
  }
}

@media screen and (max-width: 1000px) {
  .project_card > p {
    font-size: 15px;
  }
  .projects > div:nth-child(5) > a > img {
    padding-bottom: 0;
  }
  .projects_text {
    font-size: 30px;
    line-height: normal;
    top: -200px;
  }
  .projects_paragraph {
    font-size: 15px;
    top: -220px;
    width: 450px;
    line-height: 15px;
  }
  .projects_yellow {
    width: 100%;
  }
}

@media screen and (max-width: 750px) {
  .project_card > p {
    font-size: 14px;
    margin: 5px;
  }
  .project_card {
    height: 220px;
  }
  .projects_text {
    font-size: 40px;
  }
  .projects_text {
    font-size: 30px;
    top: -100px;
  }
  .projects_paragraph {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .projects_background {
    background-color: #e3e3e3;
    padding: 0;
    margin: 0;
  }
  .projects_container {
    background-color: #191919;
  }
  .projects {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projects_yellow {
    padding-bottom: 5%;
    background-color: #191919;
    top: 0px;
  }
  .projects > div {
    width: 90%;
  }
  .project_card {
    height: fit-content;
  }

  .projects_text {
    font-size: 25px;
    top: -90px;
    padding-left: 10%;
  }
  .projects_paragraph {
    width: 300px;
    line-height: 1.2em;
  }
  .project_card {
    margin-bottom: 20px;
  }
  .project_card {
    height: 265px;
    width: 100%;
  }
  .projects {
    top: -56px;
  }
  .projects > div {
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 450px) {
  .projects_text {
    font-size: 22px;
    top: -75px;
    padding-left: 10%;
  }
  .projects_paragraph {
    font-size: 11px;
  }
  .project_card > p {
    font-size: 17px;
  }
}
